@import "tailwindcss";

@theme {
    --color-bg-body: #1A1B26;
    --color-bg-primary: #151C2C;
    --color-outline: rgb(160 160 160 / 25%);
    --color-active: #4CAF50;
    --color-text-primary: #FFF;
    --color-text-muted: #A0A0A0;
    --color-bg-secondary: #3F7FFF;
    --color-bg-tertiary: #212837;
    --color-bg-active: #16252F;

    --font-Alumini-Sans: "Alumni Sans SC", system-ui;
    --font-Afacad: "Afacad";
}

.buttons-center{
    @apply bg-bg-tertiary size-11 flex flex-row items-center justify-center rounded-lg hover:cursor-pointer hover:scale-110 transform hover:bg-outline
}